<h4 class="accordion-header m-0 p-0" id="conversions-heading{{id}}">
<button class="accordion-button collapsed m-0" type="button" data-bs-toggle="collapse" data-bs-target="#conversions-collapse{{id}}" aria-expanded="false" aria-controls="conversions-collapse{{id}}">
  <span class="p-0">{{ c.uid | truncate: 9}}{{ c.uid | slice: -6, 6 }}</span>
  
  {% assign mingainloss = 0.1 %} 
  
  {% assign cname = c.currency %}
  {% assign ctname = c.convertto %}
  {% assign vname = c.via %}
  {% if vars.currencynames[cname] %}
    {% assign cname = vars.currencynames[cname] %}
  {% endif %}
  {% if vars.currencynames[ctname] %}
    {% assign ctname = vars.currencynames[ctname] %}
  {% endif %}
  {% if vars.currencynames[vname] %}
    {% assign vname = vars.currencynames[vname] %}
  {% endif %}

  {% if c.status != "success" and c.status != "closed" %}
  <span class="badge text-bg-warning rounded-pill p-2 px-3 ms-2">
    {{ c.status }}
  </span>
  {% endif %}
  
  <span class="badge text-bg-secondary rounded-pill p-2 px-3 ms-2">
  {{ c.amount | round: 6 }} {{ cname }}
  </span>
  
  {% if c.status != "closed" %}
  {% if c.status == "success" %}
  <span class="badge text-bg-primary rounded-pill p-2 px-3 ms-2">
  {% else %}
  <span class="badge text-bg-secondary rounded-pill p-2 px-3 ms-2">
  {% endif %}
  {% if c.received %}
  {{ c.received | round: 6 }}
  {% elsif c.estimate %}
  ~{{ c.estimate | round: 6 }}
  {% endif %}
   {{ ctname }}
  </span>
  {% endif %}
  
  {% if c.via %}
  <span class="badge badge-secondary bg-dark-subtle text-bg-dark rounded-pill border border-light p-2 px-3 ms-2">via {{ vars.currencynames[c.via] }}</span>
  {% endif %}

  {% assign gainloss = 0 %} 
  {% if c.status == "success" %}
  {% if c.estimate_reverse > c.amount %}
  {% assign gainloss = c.estimate_reverse | minus: c.amount | divided_by: c.amount | times: 100 | round: 2 %}
  {% assign diff = c.estimate_reverse | minus: c.amount | round: 6 %}
  {% if gainloss > mingainloss %}
  <span class="badge text-bg-light rounded-pill p-2 px-3 ms-2"><i class="fa-solid fa-arrow-right-arrow-left"></i> &nbsp; +{{ gainloss }}% &nbsp; {{diff}} {{cname}}</span>
  {% endif %}
  {% endif %}
  {% endif %}
  
  {% if c.status == "closed" and c.closedby.status != "pending" %}
  {% assign gainloss = c.closedby.received | minus: c.amount | divided_by: c.amount | times: 100 | round: 2 %}
  <span class="badge text-bg-primary rounded-pill p-2 px-3 ms-2"> {{ c.closedby.received | round: 6 }} {{ cname }}</span>
  <span class="badge text-bg-{% if gainloss > 0 %}success{%else%}danger{%endif%} p-2 px-3 ms-2">
  {% if gainloss > 0 %}+{%endif%}{{ c.closedby.received | minus: c.amount | divided_by: c.amount | times: 100 | round: 2 }}%
  &nbsp; {% if gainloss > 0 %}+{%endif%}{{ c.closedby.received | minus: c.amount | round : 6 }} {{ cname }}
  &nbsp; {% if gainloss < 0 %}<i class="fa-solid fa-face-frown"></i>{%else%}<i class="fa-solid fa-trophy"></i>{% endif %}
  </span>
  {% elsif c.status == "closed" %}
  {% assign gainloss = c.closedby.estimate | minus: c.amount | divided_by: c.amount | times: 100 | round: 2 %}
  <span class="badge text-bg-secondary rounded-pill p-2 px-3 ms-2"> ~{{ c.closedby.estimate | round: 6 }} {{ cname }}</span>
  <span class="badge text-bg-warning p-2 px-3 ms-2">
  {% if gainloss > 0 %}+{%endif%}{{ c.closedby.estimate | minus: c.amount | divided_by: c.amount | times: 100 | round: 2 }}%
  &nbsp; {% if gainloss > 0 %}+{%endif%}{{ c.closedby.estimate | minus: c.amount | round : 6 }} {{ cname }}
  &nbsp; <i class="fa-solid fa-hourglass"></i>
  </span>
  {% endif %}
</button>
</h4>
<div id="conversions-collapse{{id}}" class="accordion-collapse collapse m-0 p-0 mt-2" aria-labelledby="conversions-heading{{id}}" data-bs-parent="#accordionConversions">
  <div class="accordion-body m-0 p-0">
    <div class="mb-2">
    {% assign cb_btn_class = "danger" %}
    {% if c.status == "success" and gainloss > 0.0 %}    
    {% assign cb_btn_class = "success" %}
    {% endif %}
    <a class="btn btn-{{cb_btn_class}} convert-reverse position-relative top-0 start-0" href="/convert/reverse/{{c.uid}}">CONVERT BACK</a>
    
    <a class="btn btn-secondary position-relative top-0 start-0" href="/api/transaction/{{c.txid}}" target="_blank">Input TXID</a>
    {% if c.spentTxId %}
    <a class="btn btn-secondary position-relative top-0 start-0" href="/api/transaction/{{c.spentTxId}}" target="_blank">Spent TXID</a>
    {% endif %}
    {% if c.spentTxId2 %}
    <a class="btn btn-secondary position-relative top-0 start-0" href="/api/transaction/{{c.spentTxId2}}" target="_blank">Output TXID</a>
    {% endif %}
    
    <a class="btn btn-secondary clear-uid position-relative top-0 start-0 bg-dark-subtle" href="/api/conversion/clear/{{c.uid}}" target="_blank">CLEAR</a>
    </div>
    <pre>{{ c | json: 2 }}</pre>
  </div>
</div>
