{% layout 'layout' %}

<div class="card card-dark container-lg mb-2">
  <div class="card-body m-0 p-0 pt-2">
        <div class="d-flex">
          <h2 class="card-title mx-4 pt-2">{{ currency.fullyqualifiedname }}</h2>
          <div class="mx-2 w-100">
            <div class="d-flex justify-content-start">
              {% if currency.startblock > vars.info.blocks %}
                <div class="me-4 text-center pt-1 text-nowrap">
                  <small>Pre-Converison</small><br />
                  <strong>{{ currency.startblock | minus: vars.info.blocks }} blocks remaining</strong>
                </div>
              {% endif %}
              
              {% if currency.nativecurrencyid %}
              <div class="me-4 text-center pt-1"><small>Native Currency ID</small><br /><code>{{currency.nativecurrencyid.address | json: 2}}</code></div>
              {% endif %}
              
              {% if currency.bestcurrencystate.supply > 0 %}
              <div class="me-4 text-center pt-1"><small>Supply</small><br /><strong>{{ currency.bestcurrencystate.supply | round: 3 }}</strong></div>
              {% endif %}
              
              {% if currency.bestcurrencystate.supply > 0 and currency.isFractional %}
              
                {% assign liquidity = 0 %}
                {% for item in currency.liquidity %}
                {% assign index = forloop.index | minus: 1 %}
                {% assign l = item[1] | times: vars.tickers[item[0]].quotes.USD.price | round: 3 %}
                {% if l > liquidity %}
                {% assign liquidity = l %}
                {% endif %}
                {% endfor %}

                <div class="me-4 text-center pt-1 text-nowrap">
                  <small>Liquidity</small><br /><strong>
                  {{ liquidity }} USD*</strong>
                </div>

                {% if vars.tickers[currency.currencyid] %}
                <small>Market</small><br />
                <strong>{{ vars.tickers[currency.currencyid].quotes.USD.price | round: 3 }} USD*</strong>
                {% endif %}
                
              {% elsif vars.tickers[currency.currencyid] %}
                <div class="me-4 text-center pt-1 text-nowrap">
                <small>Market</small><br />
                <strong>{{ vars.tickers[currency.currencyid].quotes.USD.price | round: 3 }} USD*</strong>
                </div>
              {% endif %}
              
              <!--{% for basketid in baskets %}
                {{ vars.currencynames[basketid] }}
              {% endfor %}-->
            </div>            
          </div>
        </div>


    {% if currency.isFractional %}
    
    {% if currency.bestcurrencystate.reservecurrencies.size > 1 and transfers.size > 0 %}
    {% include 'chartly' %}
    {% endif %}
    
    <div class="m-4">
    <div class="accordion" id="accordionReserves">
    {% for bs in currency.bestcurrencystate.reservecurrencies %}
    {%  assign baseName = currency.currencynames[bs.currencyid] %}
    
      <div class="accordion-item">
              
        <h2 class="accordion-header" id="reserves-heading{{forloop.index}}">
        <button class="accordion-button collapsed text-nowrap" type="button" data-bs-toggle="collapse" data-bs-target="#reserves-collapse{{forloop.index}}" aria-expanded="false" aria-controls="reserves-collapse{{forloop.index}}" {% if currency.bestcurrencystate.reservecurrencies.size < 2 %}disabled{% endif %}>
          <span class="text-nowrap">
            <p class="m-0"><strong>{{ currency.currencynames[bs.currencyid] }}</strong> <small><small>in-reserves</small> {{ bs.reserves | round: 2 }}</small></p>
            <p class="m-0 mt-1">
            <strong>{{bs.priceinreserve}}</strong> <small>{{baseName}}</small>
            {% if vars.tickers[bs.currencyid] %}
            <small><em>( {{ bs.priceinreserve | times: vars.tickers[bs.currencyid].quotes.USD.price | round: 4 }} USD* )</em></small>
            {% endif %}
            </p>
          </span>
        </button>
        </h2>
        
        {% if currency.bestcurrencystate.reservecurrencies.size > 1 %}
        <div id="reserves-collapse{{forloop.index}}" class="accordion-collapse collapse" aria-labelledby="reserves-heading{{forloop.index}}" >
          <div class="accordion-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">
                  {% if vars.tickers[bs.currencyid] %}{{currency.currencynames[bs.currencyid]}}<br /><span class="fw-normal">( {{ vars.tickers[bs.currencyid].quotes.USD.price | round: 6}} USD* )</span>{% endif %}
                  </th>
                  <th scope="col">Price in<br />{{ currency.currencynames[bs.currencyid] }}</th>
                  <th scope="col">Market<br />Compare</th>
                </tr>
              </thead>
              <tbody>      
              {% for subcurrency in currency.bestcurrencystate.reservecurrencies %}
              {% if subcurrency.currencyid != bs.currencyid %}
              <tr>
                <td width="33%">{{ currency.currencynames[subcurrency.currencyid] }}</td>
                <td width="33%">{{ bs.prices[subcurrency.currencyid] | round: 6 }}</td>
                <td width="33%">
                {% if vars.tickers[bs.currencyid] and vars.tickers[subcurrency.currencyid] %}
                {% assign diff = bs.prices[subcurrency.currencyid] | times: vars.tickers[bs.currencyid].quotes.USD.price | minus: vars.tickers[subcurrency.currencyid].quotes.USD.price | round: 6 %}
                {{ diff }} USD*
                {% endif %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}

    </div>
    {% endfor %}
    </div>
    </div>
    {% endif %}
        
    {% if currency.bestcurrencystate.reservecurrencies.size > 1 and transfers.size > 0 %}
    <div class="m-4">
    <div class="card mb-2">
      <div class="card-body">  
      <h5 class="card-title">Recent Transfers</h5>

      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">TXID</th>
          <th scope="col">Flags</th>
          <th scope="col">Age</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Destination</th>
          <th scope="col">Type</th>
          <th scope="col">Fees</th>
        </tr>
      </thead>
      <tbody>
      {% for transfer in transfers %}
      {% include 'transfersrow', id:forloop.index %}
      {% endfor %}
      </tbody>
      </table>

      </div>
    </div>
    </div>
    {% endif %}
    
  </div>
  <div class="d-flex justify-content-end">
  <span class="m-0 p-0"><small>*USD prices calculated using <a href="/api/tickers" target="_blank">data</a> provided by <a href="https://coinpaprika.com/" target="_blank">CoinPaprika</a></small></span>
  </div>
</div>